<div class='col-12 col-sm-10 col-md-8 col-lg-6'>
<h6 class='mt-3'>Questionários do Usuário</h6>
<div class="table-responsive-sm mt-4 table-sm">
	<table class="table table-striped table-hover mt-4">
		<thead>
			<tr>
				<th scope="col">TÍTULO</th>
				<th scope="col">INÍCIO</th>
        <th scope="col">FIM</th>
        <th scope="col">GRUPO</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let questionario of  questionarios | async" (click)="AdicionarQuestao(questionario.key)">
				<td>{{questionario.titulo}}</td>
        <td>{{formatDate(questionario.inicio)}}</td>
        <td>{{formatDate(questionario.fim)}}</td>
				<td>{{size(questionario.grupos)}}</td>
			</tr>
		</tbody>
	</table>
</div>

<h6 class='mt-3'>Novo questionário</h6>
<form #formulario="ngForm">
	<div class="form-group mt-4">
		<label>Título</label>
    <input [(ngModel)]="titulo" class="form-control" name="titulo" >
  </div>
  <div class="form-group mt-4">
		<label>Data de início</label>
    <input [(ngModel)]="inicio" class="form-control" name="inicio"  placeholder="dd/mm/aaaa">
  </div>
  <div class="form-group mt-4">
		<label>Data final</label>
    <input [(ngModel)]="fim" class="form-control" name="fim" placeholder="dd/mm/aaaa">
  </div>
  <button (click)="salvarQuestionario()" class="btn btn-success">Salvar questionário</button>
</form>
</div>