<h1 class="header">Login</h1>
<div class="vertical-center" >
<div class="container">
  <div class="row justify-content-center mt-12">
    <div class="col-md-4 col-md-offset-4 col-xl-4 col-xl8-offset-4">
      <button type="button" class="btn btn-primary btn-block" (click)="tryFacebookLogin()">Login com Facebook</button>
    </div>
  </div>
  <div class="row justify-content-center mt-12">
    <div class="col-md-4 col-md-offset-4">
      <button type="button" class="btn btn-danger btn-block" (click)="tryGoogleLogin()">Login com Google</button>
    </div>
  </div>
</div>
</div>
